html,
body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: #eef1ef;
  color: #333;
  font-weight: 500;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  box-sizing: border-box;
}
